*{
    font-family: 'Cabin', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    color: #292929;
}

header{
    background-color:#F0EEEB ;
    height: 735px; 
}
.black-bg{
    background-color: #000000;
    color:#FFFFFF;
}

.launch {
    height: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 8px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    height: 110px;
    width: 100%;
    font-size: 1rem;
    align-items:center ;
    justify-content:space-around ;
    
}
nav > .brand {
    font-weight: 700;
    font-size: 1.25rem ;
    justify-content:space-evenly ;
}
ul, li, a {
    display: flex;
    list-style: none;
    outline: none;
    align-items:center;
    justify-content: center;
}
nav > ul, nav > li, nav > a{
    gap: 2rem;
}
.get-started{
    height: 45px;
    width: 115px;
    border-radius: 5px;
}
.hero-section{
    width: 100%;
    height: 580px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section > .text{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.hero-section > img{
    height: 32rem;
    width: 26rem;
    justify-content: center;
    align-self: center;
}